@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(/Img/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*-------Menu-------*/
.menu{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
    color: white;
}

.menu h3{
    font-weight: 400;
}

.menu li{
    display: inline-block;
}

.menu a{
    color: white;
    padding: 10px 17px;
    text-decoration: none;
}


/*-------Botão_do_Menu-------*/
.menu button{
    padding: 0px 7px;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}

/*-------Contato-------*/
.contato{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-------Botão-------*/
.contato button{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    color: black;
    transition-duration: 0.5s;
    margin-top: 10px;
}

.contato button:hover{
    background-color: rgb(207, 207, 207);
}

/*-------Registro-------*/
.registro{
    width: 30%;
    padding: 15px 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(30px);
    border: 1px solid white;
    z-index: 1;
}

.registro h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: 10px;
}

/*-------Info-------*/
.info{
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid white;
    padding: 0 15px;
    margin-top: 10px;
    font-size: 14px;
    color: white;
}

.info input::placeholder{
    color: white;
}

/*-------Mensagem-------*/
.mensagem{
    width: 100%;
    margin-top: 10px;
}

.mensagem textarea{
    width: 100%;
    height: 20vh;
    outline: none;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 5px;
}

/*-------Endereço-------*/
.endereco{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.card{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.card h3{
    font-weight: 400;
}

.card p{
    font-size: 12px;
    margin-top: 5px;
}

.card a {
    color: white;
}

/*-------Copyright-------*/
.copyright{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.425);
    backdrop-filter: blur(30px);
    color: white;
}

.redes{
    display: flex;
    justify-content: right;
    gap: 10px;
}

.redes i{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 35px;
    cursor: pointer;
    transition-duration: 0.7s;
}

.redes i:hover{
    background-color: white;
    color: black;
}

.wpp-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: white;
    background-color: green;
    width: 50px;
    bottom: 80px;
    right: 10px;
    height: 50px;
    border-radius: 50px;
    font-size: 30px;
    z-index: 1000;
    box-shadow: 1px 1px 2px white;
    position: fixed;
    text-decoration: none;
}

.wpp-link:hover {
    color: black;
    border: 1px solid black;
}

/*-------Responsividade-------*/
@media screen and (max-width: 768px) {
    .menu button{
        display: block;
    }

    .menu ul{
        width: 30%;
        display: none;
        position: absolute;
        top: 9%;
        right: 0%;
        background-color: black;
        z-index: 2;
    }

    .menu li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .copyright{
        justify-content: space-between;
        padding: 10px 20px;
    }

    .registro{
        width: 90%;
    }

    .mensagem textarea{
        height: 17vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .registro{
        width: 50%;
        padding: 15px 15px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.541);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        backdrop-filter: blur(30px);
        border: 1px solid white;
        z-index: 1;
    }
}